<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form id="reset-password-form" action="/reset_password/{{ token }}" method="POST">
                <h1>Reset Password</h1>
                <div class="error-message" id="reset_error_message"></div>
                <div class="success-message" id="reset_success_message"></div>
                <input type="password" id="new_password" name="new_password" placeholder="Enter your new password" required />
                <input type="password" id="confirm_password" placeholder="Confirm your new password" required />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#reset-password-form').on('submit', function(event) {
                event.preventDefault();
                
                if ($('#new_password').val() !== $('#confirm_password').val()) {
                    $("#reset_error_message").text("Passwords do not match.");
                    $("#reset_error_message").show().delay(3000).hide(0);
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function(response) {
                        var data = JSON.parse(response);
                        if (data.status) {
                            $("#reset_success_message").text("Your password has been reset successfully.");
                            $("#reset_success_message").show().delay(3000).hide(0);
                            window.location="/"
                        } else {
                            $("#reset_error_message").text("Failed to reset password. Please try again.");
                            $("#reset_error_message").show().delay(3000).hide(0);
                        }
                    },
                    error: function() {
                        $("#reset_error_message").text("An error occurred. Please try again.");
                        $("#reset_error_message").show().delay(3000).hide(0);
                    }
                });
            });
        });
    </script>
</body>
</html>
